/* Reset some default browser styles */
body,
h1,
h2,
p,
button,
textarea {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Global styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F4E8D0;
    border-radius: 5px;
    margin-top: 10px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Black Ops One', cursive;
}

.button {
    background-color: #e0e0e0;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 400;
}

.answer-options button {
    background-color: #e0e0e0;
    color: #333;
    padding: 10px 20px;
    border: outset;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 400;
    margin-top: 10px;
    font-size: large;
}

.game {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.answer-options {
    display: flex;
    flex-direction: column;
}

/* popup to show response correct or incorrect */

.popup {
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: -webkit-fill-available;
    height: 20%;
}

.popup-message {
    margin: 0;
}

.popup-close {
    margin-top: 10px;
}

.scoreboard {
    text-align: center;
    margin-bottom: 20px;
}

.scores {
    font-size: 1rem;
    color: #666;
    display: inline;
    margin-bottom: 5px;
}

/* 
.feedback-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
} */

.feedback-form h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin: 10px 0 10px 0;
}

#submitFeedbackButton {
    background-color: #55aacc;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Media Query for Responsiveness */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}