/* Reset some default browser styles */
body,
h1,
h2,
p,
button,
textarea {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    background-image: url('./assets/images/back-image2.png');
    background-size: auto;
}

/* Global styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F4E8D0;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 10px 10px 8px #888888;
    border: groove;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #333;
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: 'Black Ops One', cursive;
    text-shadow: 2px 2px #a1a1a0;
}

.button {
    background-color: #e9e4db;
    color: #333;
    padding: 10px 20px;
    border: outset;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 700;
}

.submit-button {
    background-color: #e0e0e0;
    color: #333;
    padding: 10px 20px;
    border: outset;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 700;
}

/* buttons holding answer options */
.answer-options button {
    background-color: #e0e0e0;
    color: #333;
    padding: 10px 20px;
    border: outset;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 400;
    margin-top: 10px;
    font-size: large;
}

/* controls within game */
#new-game {
    float: right;
}

#quit {
    float: right;
}


/* section with questions and answer options */
.game {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.answer-options {
    display: flex;
    flex-direction: column;
}

/* scoreboard */
.scoreboard {
    text-align: center;
    margin-bottom: 20px;
}

.scores {
    font-size: 1rem;
    color: #666;
    display: inline;
    margin-bottom: 5px;
    margin-inline: 15px;
}

#correct {
    color: #1ed54f;
    font-weight: 700;
    font-size: x-large;
}

#incorrect {
    color: #f82d2d;
    font-weight: 700;
    font-size: x-large;
}

/* final result text */
#final-result {
    font-family: 'Black Ops One', cursive;
    font-weight: bolder;
    font-size: 4rem;
}

/* popup to show response correct or incorrect */
.popup {
    position: fixed;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: -webkit-fill-available;
    height: 13rem;
}

.popup-message {
    font-family: 'Black Ops One', cursive;
    text-align: center;
}

.popup-close {
    float: right;
    border: transparent;
    background-color: transparent;
    color: blue;
}

.popup img {
    width: -webkit-fill-available;
    height: 100px;
    object-fit: contain;
    padding: 30px;
    align-items: center;
}

/* popup to submit username */
.user {
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: -webkit-fill-available;
    height: 8%;
}

/* username position */
#username {
    position: fixed;
    margin-left: 19.5rem;
    margin-top: -3.5rem;
    font-size: x-large;
    color: #723232;
}

/* Feedback form */
#feedback-button {
    border: transparent;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    margin-left: -1rem;
}

.feedback-form h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin: 10px 0 10px 0;
}

#submitFeedbackButton {
    background-color: #55aacc;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Media Query for Responsiveness */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    /* final result text */
    #final-result {
        font-family: 'Black Ops One', cursive;
        font-size: 2rem;
    }

    /* popup for correct/incorrect answers */
    .popup {
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        width: -webkit-fill-available;
        height: 8rem;
    }

    .popup-close {
        float: right;
        border: transparent;
        background-color: transparent;
        color: blue;
        margin-top: -1rem;
    }

    .popup img {
        width: -webkit-fill-available;
        height: 60px;
        object-fit: contain;
        padding: 25px;
    }
}